<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p]~%d{ISO8601}~%C~%M~%X{perfTime}^%X{mdcId1}^%X{mdcId2}^%X{mdcId3}~%m%n" />
		</layout>
	</appender>

	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p]~%d{ISO8601}~%C~%M~%X{perfTime}^%X{mdcId1}^%X{mdcId2}^%X{mdcId3}~%m%n" />
		</layout>
	</appender>

		<!-- Logging for STATS messages only -->
	<!-- Logging for STATS messages only -->
	<appender name="statFile" class="com.ipacc.log4j.appender.logappender.IpaccDailyRollingFileAppender">
		<param name="File" value="//logging//{component}//{servername}//stat.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p]~%d{ISO8601}~%C~%M~%X{perfTime}^%X{mdcId1}^%X{mdcId2}^%X{mdcId3}~%m%n" />
		</layout>
		<!-- Use CustomLevelRangeFilter to identify those messages with levels that fall within the 
			Min/Max range (inclusive) and either EXCLUDE or INCLUDE them in the log based on the 
action param -->
		<filter class="com.ipacc.log4j.level.CustomLevelRangeFilter">
			<param name="LevelMax" value="STATS" />
			<param name="LevelMin" value="STATS" />
			<!-- Action = INCLUDE/EXCLUDE-->
			<param name="Action" value="INCLUDE" />
		</filter>
	</appender>

	<!-- Logging for ERROR messages only -->
	<appender name="errorFile" class="com.ipacc.log4j.appender.logappender.IpaccDailyRollingFileAppender">
		<param name="File" value="//logging//{component}//{servername}//error.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p]~%d{ISO8601}~%C~%M~%X{perfTime}^%X{mdcId1}^%X{mdcId2}^%X{mdcId3}~%m%n" />
		</layout>
		<!-- Use CustomLevelRangeFilter to identify those messages with levels that fall within the 
			Min/Max range (inclusive) and either EXCLUDE or INCLUDE them in the log based on
the action param -->
		<filter class="com.ipacc.log4j.level.CustomLevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
			<!-- Action = INCLUDE/EXCLUDE-->
			<param name="Action" value="INCLUDE" />
		</filter>
	</appender>

	<!-- Logging for all messages-->
	<appender name="logFile" class="com.ipacc.log4j.appender.logappender.IpaccDailyRollingFileAppender">
		<param name="File" value="//logging//{component}//{servername}//ipacc.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p]~%d{ISO8601}~%C~%M~%X{perfTime}^%X{mdcId1}^%X{mdcId2}^%X{mdcId3}~%m%n" />
		</layout>
	</appender>
	<logger name="com.ipacc" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="logFile" />	
		<appender-ref ref="statFile" />	
		<appender-ref ref="errorFile" />	
	</logger>

	<root>
		<level value="FATAL" />
	</root>
</log4j:configuration>

