# Cloud Foundry deploy username and passwords
cf-username-dev: <cloud_foundry_deploy_username_dev>
cf-password-dev: <cloud_foundry_deploy_password_dev>
cf-username-test: <cloud_foundry_deploy_userername_test>
cf-password-test: <cloud_foundry_deploy_password_test

# Nexus Information
nexus-username: <nexus_deploy_username>
nexus-password: <nexus_deploy_password>
# Artifact name you wish to store in nexus
nexus-artifact-name: <nexus_artifact_name: i.e.: com.ipacc.services:policynoteboot:jar>

# Gitlab Information
gitlab-username: <git_username>
gitlab-access-token: <git_access_token>

# Pivotal Web Server Dev Information - 1st environment we deploy to
pws-organization-dev: <cloud_foundry_dev_organization>
pws-space-dev: <cloud_foundy_dev_space>
pws-api-dev: https://api.system.cf.ipacc.com
# APPNAME in manifest.yml will be replaced by below when deploying to dev environment
pws-app-suffix-dev: <app_instance_name_for_dev i.e.: policynoteboot-dev>
pws-app-domain-dev: <cloud_foundry_route_domain i.e.: apps.cf.ipacc.com>

# Pivotal Web Server Test Information - 2nd environment we deploy to
pws-organization-test: <cloud_foundry_test_organization>
pws-space-test: <cloud_foundry_test_space>
pws-api-test: <cloud_foundry_api_url i.e.: https://api.system.cf.ipacc.com>
# APPNAME in manifest.yml will be replaced by below when deploying to test environment
pws-app-suffix-test: <app_instance_name_for_test i.e.: policynoteboot-test>
pws-app-domain-test: <cloud_foundry_route_domain i.e.: apps.cf.ipacc.com>